In [1]:
# Import dependencies
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import numpy as np

# Load the charity_data.csv into a DataFrame
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Preprocess the data
# Drop the EIN and NAME columns
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column
unique_df= application_df.nunique()
unique_df

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Determine which columns contain more than 20 unique values
kept_columns_df = unique_df[unique_df > 20].index
kept_columns_df

Index(['CLASSIFICATION', 'ASK_AMT'], dtype='object')

In [6]:
# Drop the columns with more than 20 unique values
# application_df.drop(drop_columns_df, axis=1, inplace=True)
# application_df

X = application_df.drop(kept_columns_df, axis=1, inplace=True)
y = application_df['IS_SUCCESSFUL']

In [8]:
# Bin the ORGANIZATION column
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["ORGANIZATION"].value_counts()[application_df["ORGANIZATION"].value_counts() < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [11]:
# Bin the AFFILIATION column
classification_counts = application_df["AFFILIATION"].value_counts()
replace_class = list(classification_counts[classification_counts > 20].index)
for cls in replace_class:
    application_df["AFFILIATION"] = application_df["AFFILIATION"].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Other       34286
Regional       13
Name: AFFILIATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
X_encoded = pd.get_dummies(application_df)

# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = X_encoded

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 328

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 379
Trainable params: 379
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Define the checkpoint path and filenames
checkpoint_path = "AlphabetSoupCharity_Optimization.h5"
cp_callback = ModelCheckpoint(filepath=checkpoint_path, save_weights_only=True, save_freq=5*len(X_train))

In [16]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=20, callbacks=[cp_callback])

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.2756 - accuracy: 0.8943
Epoch 2/20
804/804 [==============================] - 1s 2ms/step - loss: 0.0022 - accuracy: 1.0000
Epoch 3/20
804/804 [==============================] - 1s 2ms/step - loss: 5.0587e-04 - accuracy: 1.0000
Epoch 4/20
804/804 [==============================] - 1s 1ms/step - loss: 2.0276e-04 - accuracy: 1.0000
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 9.9033e-05 - accuracy: 1.0000
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 5.3400e-05 - accuracy: 1.0000
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 3.0440e-05 - accuracy: 1.0000
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 1.7967e-05 - accuracy: 1.0000
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 1.0853e-05 - accuracy: 1.0000
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 6.6631e-06 - accuracy: 1.0000
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 4.1361e-06 - accuracy: 1.0000
Epoch 12/20
804/804 [==============================] - 1s 1ms/step - loss: 2.5875e-06 - accuracy: 1.0000
Epoch 13/20
804/804 [==============================] - 1s 1ms/step - loss: 1.6290e-06 - accuracy: 1.0000
Epoch 14/20
804/804 [==============================] - 1s 1ms/step - loss: 1.0301e-06 - accuracy: 1.0000
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 6.5393e-07 - accuracy: 1.0000
Epoch 16/20
804/804 [==============================] - 1s 1ms/step - loss: 4.1615e-07 - accuracy: 1.0000
Epoch 17/20
804/804 [==============================] - 1s 1ms/step - loss: 2.6569e-07 - accuracy: 1.0000
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 1.7027e-07 - accuracy: 1.0000
Epoch 19/20
804/804 [==============================] - 1s 1ms/step - loss: 1.0962e-07 - accuracy: 1.0000
Epoch 20/20
804/804 [==============================] - 1s 1ms/step - loss: 7.1053e-08 - accuracy: 1.0000

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 5.7653e-08 - accuracy: 1.0000 - 344ms/epoch - 1ms/step
Loss: 5.765251387401804e-08, Accuracy: 1.0

In [18]:
# Create a callback that saves the model's weights every five epochs:
from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K

mc = keras.callbacks.ModelCheckpoint('model_weights_optimized.h5', 
                                     save_weights_only=True, save_freq=5)
nn.fit(X_train_scaled, y_train, callbacks=[mc])

# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

804/804 [==============================] - 4s 4ms/step - loss: 0.0148 - accuracy: 0.9989

# Report Summary

## Overview
- The purpose of this analysis is to **help the nonprofit foundation Alphabet Soup by creating a tool that can help it select its' applicants for funding with the best chance of success in their ventures.** 
- **Binary classifier model** was created using some knowledge of machine learning and neural networks, analyzing a set of determined features based on the provided dataset **to predict whether applicants will be successful if funded by Alphabet Soup.**

### Results

**Data Preprocessing**
- Target variable(s): **IS_SUCCESSFUL** — Was the money used effectively
- Feature(s) explored: **ORGANIZATION** — Organization type & **AFFILIATION** — Affiliated sector of industry
- Variables that were removed: **EIN** and **NAME**, **CLASSIFICATION** and **ASK_AMT**

**Compiling, Training, and Evaluating the Model**
- Total Neurons used: **14**
- Total Layers used: **3**

> - **Layer 1:** 8 neurons
> - **Layer 2:** 5 neurons
> - **Layer 3(Output Layer):** 1 neuron

- Activation functions used:

> - **Rectified Linear Unit(relu):** converts model inputs into usable 1's and 0's for easier processing
> - **Sigmoid:** converts model inputs into usable 1's and 0's for easier processing

This was determined using insight from a similar **GT Bootcamp modeling exercise** *GettingReal_Preprocessing*: these methods demonstrated binary classification techniques that were deemed applicable in this business cse. 

**Model Score**
- Model Accuracy/Perfromance Score: **0.9989**

### Summary

**Model Interpretation**
- This model is deemed to be 99.8% confident in predicting whether applicants will be successful if funded by Alphabet Soup.
- This model was trained and optimized from a ~ 72% accuracy score ( found within notebook *Deep Learning_Brandyn* ) into this more accurate model by using a more rebust binning method to drop **EIN** and **NAME**, **CLASSIFICATION** and **ASK_AMT** based on their low level of impact deemed thorugh analyzing the # of unique values they displayed and removing those less than 

**Further Recommendations**
- I would possibly look into a k-means method of classifictaion in my next iteration.